@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background-image: linear-gradient(to right, #4cd3e0, #8f4ce0);
    padding: 50px;
}
.vstbkt {
    color: rgb(209, 0, 0);
}
h2 {
    color: aliceblue;
    text-align: left;
    border-color: rgba(255, 255, 255, 0);
    border-bottom: black;
    border-style: dotted;
}
.textalign {
    text-align: justify;
    padding-bottom: 10px;
}
p {
    color: rgb(66, 28, 21);
    font-size: 17px;
}
h3 {
    color: antiquewhite;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover {
    color: #ff7a7a;
}
ul,
ol {
    list-style-image: linear-gradient(90deg, #c68673, #c12e53);
    padding-left: 60px;
}
li {
    color: rgb(66, 28, 50);
}
img {
    width: 400px;
    height: 259px;
    border-radius: 25px;
    border: solid black;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.imager {
    flex-basis: 70%;
    order: 2;
}
.imagel {
    flex-basis: 70%;
}
.text {
    padding: 10px;
}
a.btn {
    position: relative;
    display: inline-block;
    padding: 12px 30px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg, #73c6b6, #2e86c1);
}
a.btn:hover {
    position: relative;
    display: inline-block;
    padding: 12px 30px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg, #254e46, #264f69);
}
